body {
  background: rgb(1, 0, 3);
}
.landing-container {
  padding-right: 10px;
  padding-left: 10px;
}
.landing-container {
  margin: 0px;
  padding: 0px;
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.prev-btn {
  left: -5px;
}

.next-btn {
  right: 5px;
}

h4,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 20px 8px;
  text-rendering: optimizeLegibility;
}
h4 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  font-size: 20px;
  margin: 16px 30px;
}
h2 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 30px;
  color: white;
  font-size: 30px;
}
h3 {
  font-weight: 700;
  line-height: 1.2;
  margin: 30px 8px;
  color: white;
  font-size: 30px;
}
#main-title {
  margin: 30px 8px;
  margin-bottom: 0px;
}
p {
  font-family: "Fira Sans", sans-serif;
  color: white;
  text-align: center;
  margin: 8px 8px;
  font-size: 1.5rem;
}
.p_dificultades {
  text-align: center;
  margin: 16px;
  padding: 8px;
  box-shadow: 1px 1px 8px black;
}
.p_aprendizaje {
  text-align: center;
  margin: 30px 16px;
  box-shadow: 1px 1px 8px black;
  font-size: 30px;
}
.p_aprende {
  text-align: center;
  margin: 16px;
  padding: 8px;
  box-shadow: 1px 1px 8px black;
}

.image-container {
  width: 100%;
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 30px auto; /* Centrar el contenedor */
  overflow: hidden; /* Ocultar cualquier contenido que desborde */
}
.first-page-image {
  width: 80%;
  margin: auto; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  border: solid 5px #ffcc00c2;
  border-radius: 8px;
}
.cta-thesis {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 25px;
  margin: 50px 8px;
  background: rgb(255, 205, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 205, 0, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
#cta_inicio{
  padding: 30px 8px;
}
#h3_a_cargo {
  margin: 15px 5px;
}
.bonus {
  margin: 0px;
}
.container_bonus {
  display: flex;
  flex-direction: column;
}
.linkedin-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;

}
.linkedin-link img {
  width: 8rem;
}

.primer_pagina {
  padding: 30px 0px;
  padding-bottom: 0px;
}
.segunda_pagina {
  padding: 0px 8px;
}
.tercer_pagina {
  padding: 30px 8px;
}

.cuarta_pagina {
  padding: 30px 8px;
}

.quinta_pagina {
  padding: 30px 8px;
}
.septima_pagina {
  padding: 30px 8px;
}

.tarjeta_dificultades {
  display: flex;
  flex-direction: column;
}
.items_dificultades {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}
.items_beneficios {
  display: flex;
  flex-wrap: nowrap;
  margin: 8px 0px;
  padding: 16px;
  box-shadow: 3px 4px 8px black;
}

.titulo_tarjeta {
  text-align: center;
}
span {
  display: flex;
  width: 100%;
  justify-content: center;
}
.span_beneficios {
  width: auto;
}
.icon_bloqueo {
  width: 2rem;
  margin: auto;
}
.t_item {
  text-align: center;
  margin: auto;
}
.t_item_beneficios {
  text-align: start;
  font-size: 25px;
  margin: 0px 16px;
}
.p_item {
  text-align: center;
  margin: 0px 0px;
}

.container_beneficios_final {
  display: flex;
  flex-wrap: wrap;
}
.tarjeta_beneficios_final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.img_beneficios_final {
  width: 5rem;
  margin: auto;
}
